<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About Page</title>
</head>
<body>
    <h1>About this Application</h1>
    <p>This page was created using springboot and thymeleaf</p>
    <p>it is being added to the advanced java course</p>
    <p>
        Springboot is a front end program letting you make a gui for your program making it appear as a website. thymeleaf is what makes it 
        html and more websitey (yes that's the technical term)
    </p>
</body>

</html>